@import url("https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    background: #dfe9f5;
}
.sidebar{
    width: 24%;
    background: rebeccapurple;
    height: 100vh
}
.list li{
    padding: 1.7rem;
    list-style: none;
    
}
.nav-item {
    color: white;
}
.logo{
     display: flex;
     
}
.logo img{
    height: 2rem;
    padding: 0 0.8rem 0 0 ;
}
